name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/nova
          ref: b45a9ba8361b3e8c32aeb7d97bd9e62a70123831

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: vexxhost/nova-scheduler-filters
          ref: 77ed1c2ca70f4166a6d0995c7d3d90822f0ca6c0

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@2024.1
        with:
          image-name: nova
          build-contexts: |
            nova=openstack/nova
            nova-scheduler-filters=vexxhost/nova-scheduler-filters
          push: ${{ github.event_name != 'pull_request' }}
